h3.
  Participant List
div.scroll-list
  ul#participants
    li.
      Name 1
    li.
      Name 2
    li.
      Name 3
    li.current
      | Name 4
    li.
      Name 5
    li.
      Name 6
    li.
      Name 7
    li.
      Name 8
    li.
      Name 9
    li.
      Name 10
