// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body,
html {
    min-height: 100%;
}

// #content {
//     min-height: 100%;
// }

.btn-default {
    &:hover,
    &:focus, 
    &:hover a,
    &:focus a {
        background-color: $white;
        color: $brand-default;
    }
}

.btn-primary {
    &:hover,
    &:focus, 
    &:hover a,
    &:focus a {
        background-color: $white;
        color: $brand-primary;
    }
}

.btn-success {
    &:hover,
    &:focus, 
    &:hover a,
    &:focus a {
        background-color: $white;
        color: $brand-success;
    }
}

.btn-info {
    &:hover,
    &:focus, 
    &:hover a,
    &:focus a {
        background-color: $white;
        color: $brand-info;
    }
}

.btn-warning {
    &:hover,
    &:focus, 
    &:hover a,
    &:focus a {
        background-color: $white;
        color: $brand-warning;
    }
}

.btn-danger {
    &:hover,
    &:focus, 
    &:hover a,
    &:focus a {
        background-color: $white;
        color: $brand-danger;
    }
}

.btn-disabled {
    background-color: $bg-disabled;
    color: $font-disabled;

    a {
        color: $font-disabled;
    }

    &:hover,
    &:focus {
        background-color: darken( $bg-disabled, 30% );
        a {
          color: $white;  
        }
    }
}
