/*********************
NAVIGATION STYLES
*********************/

/******************************************************************
NAVIGATION
******************************************************************/

/*
all navs have a .nav class applied via the wp_menu function; this
is so we can easily write one group of styles for the navs on the
site so our css is cleaner and more scalable.
*/

.nav,
nav {
    margin: 0;
    padding: 0;
	li {
        margin: 0 .5em;
        white-space: nowrap;
        display: inline-block;
		a {

			text-decoration: none;
		}
	}
}




