form.modal {
	width: 450px;
	border-radius: 0;
	
	fieldset {
		border: none;
	}
	input {
		margin: 0 .25em;
	}
	label {
		font-weight: bold;
	}
	
	// User name form
	&#user-name-form {
		fieldset {
			text-align: center;
		}
		input {
			margin: .25em auto;
			display: block;
		}
	}
}