.options {
  label {
    display: inline-block;
    margin-right: .5em;
  }
  
  // Desktop or larger
  @include media($desktop) {
    label {
		display: block;
	}
  }
	
}

form {
  fieldset {
    border: none;
    margin-bottom: 0;
  }
  label {
    font-weight: bold;
  }
}

#join-room,
#create-room {
  text-align: center;
  
  label,
  input {
    display: block;
    margin: .25em auto;
  }
}