// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// Options
//
// Quickly modify global styling by enabling or disabling optional features.

//$enable-flex:               true;
$enable-rounded:            false;
// $enable-shadows:            true;
// $enable-gradients:          true;
$enable-transitions:        true;
// $enable-hover-media-query:  true;
// $enable-grid-classes:       true;

$fa-css-prefix:             fa;

