// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// default-color:              #66615B !default;
// $default-bg:                 #66615B !default;
// $default-states-color:       #403D39 !default;

// $primary-color:              #7A9E9F !default;
// $primary-bg:                 #7A9E9F !default;
// $primary-states-color:       #427C89 !default;

// $success-color:              #7AC29A !default;
// $success-bg:                 #7AC29A !default;
// $success-states-color:       #42A084 !default; 

// $info-color:                 #68B3C8 !default;
// $info-bg:                    #68B3C8 !default;
// $info-states-color:          #3091B2 !default;

// $warning-color:              #F3BB45 !default;
// $warning-bg:                 #F3BB45 !default;
// $warning-states-color:       #BB992F !default;


// $danger-color:               #EB5E28 !default;
// $danger-bg:                  #EB5E28 !default;
// $danger-states-color:        #B33C12 !default;


$brand-primary:         #3091B2; //#337ab7
$brand-success:         #42A084; //#5cb85c
$brand-info:            #7A9E9F; //#5bc0de
$brand-warning:         #BB992F; //#f0ad4e
$brand-danger:          #EB5E28; //#d9534f



$gray-base:              #222 !default; //000
$gray-darker:            #444; // #222
$gray-dark:              #5C6265;   // #333
$gray:                   #79858A; // #555
$gray-light:             #A2A8AB; // #777
$gray-lighter:           #f5f5f5;

$white:     #fff;
$black:     #000;

$brand-default:         $gray;
$bg-disabled:           $gray-lighter;
$font-disabled:         $gray-darker; 



// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex:               true;
// $enable-rounded:            true !default;
// $enable-shadows:            false !default;
// $enable-gradients:          false !default;
// $enable-transitions:        false !default;
// $enable-hover-media-query:  false !default;
// $enable-grid-classes:       true !default;


// Body
//
// Settings for the `<body>` element.

$body-bg:                    $white;
$body-color:                 $gray-dark !default;


// Links
//
// Style anchor elements.

$text-color:                 $body-color;
$link-color:                 $brand-primary !default;
// $link-decoration:            none !default;
// $link-hover-color:           darken($link-color, 15%) !default;
// $link-hover-decoration:      underline !default;
$tooltip-bg:                 $gray-lighter;
$tooltip-arrow-color:        $gray-lighter;
$tooltip-color:              $body-color;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// $font-family-sans-serif:     "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// $font-family-serif:          Georgia, "Times New Roman", Times, serif !default;
// $font-family-monospace:      Menlo, Monaco, Consolas, "Courier New", monospace !default;
// $font-family-base:           $font-family-sans-serif !default;



/// Regular font family
/// @type List
$text-font-stack: $font-family-sans-serif;

/// Header font family
/// @type List
$text-font-stack: $font-family-sans-serif;

/// Code (monospace) font family
/// @type List
$code-font-stack: $font-family-monospace;




/// Container's maximum width
/// Below that is 100%
/// @type Length
$max-width: 1200px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'small': (min-width: 320px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
) !default;



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
