// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// default-color:              #66615B !default;
// $default-bg:                 #66615B !default;
// $default-states-color:       #403D39 !default;

// $primary-color:              #7A9E9F !default;
// $primary-bg:                 #7A9E9F !default;
// $primary-states-color:       #427C89 !default;

// $success-color:              #7AC29A !default;
// $success-bg:                 #7AC29A !default;
// $success-states-color:       #42A084 !default; 

// $info-color:                 #68B3C8 !default;
// $info-bg:                    #68B3C8 !default;
// $info-states-color:          #3091B2 !default;

// $warning-color:              #F3BB45 !default;
// $warning-bg:                 #F3BB45 !default;
// $warning-states-color:       #BB992F !default;


// $danger-color:               #EB5E28 !default;
// $danger-bg:                  #EB5E28 !default;
// $danger-states-color:        #B33C12 !default;


$brand-primary:         #3091B2; //#337ab7
$brand-success:         #42A084; //#5cb85c
$brand-info:            #7A9E9F; //#5bc0de
$brand-warning:         #BB992F; //#f0ad4e
$brand-danger:          #EB5E28; //#d9534f



$gray-base:              #222; //000
$gray-darker:            #444; // #222
$gray-dark:              #5C6265;   // #333
$gray:                   #79858A; // #555
$gray-light:             #A2A8AB; // #777
$gray-lighter:           #ddd;
$gray-lightest:          #eee;

$white:     #fff;
$black:     #000;

$brand-default:         $gray;
$brand-disabled:        $gray-lighter;
$bg-disabled:           $gray-lighter;
$font-disabled:         $gray-darker; 



// Options
//
// Quickly modify global styling by enabling or disabling optional features.

//$enable-flex:               true;
// $enable-rounded:            true;
// $enable-shadows:            true;
// $enable-gradients:          true;
$enable-transitions:        true;
// $enable-hover-media-query:  true;
// $enable-grid-classes:       true;


// Body
//
// Settings for the `<body>` element.

$body-bg:                    $white;
$body-color:                 $gray-dark;


// Links
//
// Style anchor elements.

$text-color:                 $body-color;
$link-color:                 $brand-primary;
// $link-decoration:            none !default;
// $link-hover-color:           darken($link-color, 15%) !default;
// $link-hover-decoration:      underline !default;
$tooltip-bg:                 $gray-lighter;
$tooltip-arrow-color:        $gray-lighter;
$tooltip-color:              $body-color;


// $btn-primary-bg:        $brand-primary;
// $btn-primary-border:    $brand-primary;

