doctype html
html(lang="en") <!-- Need to modify language based on user input -->
  head
    title Mexcla Conferencing
    link(rel='stylesheet',href='/styles/css/jquery.modal.css')
    link(rel='stylesheet',href='/styles/css/vendor/switches/toggle-switch.css')
    link(rel='stylesheet',href='/styles/css/style.css')
 
  - var bodyClasses = [];
  block beforeBody
  
  body
    block content

    block scripts