doctype html
html(lang="en") <!-- Need to modify language based on user input -->
  head
    title Mexcla Conferencing
    link(rel='stylesheet',href='/styles/css/style.css')
    link(rel='stylesheet',href='/styles/css/jquery.modal.css')
    
  - var bodyClasses = [];
  block beforeBody
  
  body(class=bodyClasses)
    block content

    block scripts