extends layout

block beforeBody
  - bodyClasses.push('room')  

block content
  //- div#content
  include header
  
  main(class="main-content" role="main")
    header#connect
      h2.conference-id
        |Conference Room&nbsp;
        span.pstn-instructions-conference-number #{roomNum}
        div(id="userinfo-modal" style="display:none")
          a(href="/userinfo" rel="ajax:modal")
          
      div#room-info
        //- Placeholder for info modal
        a(href="" class="telephone-info")
          i(class="fa fa-phone-square")
        label(for="room-link") Room Link
        //- Placeholder for room link
        a(href="" id="room-link") http://url.org/room/#

    section#options
      div#call-options
        //- Connect Button
        div#connect-icon-and-button
          button(id="connect-button" class="button" onclick="mexcla_toggle_call_status(); return false;")
            span(id="connect-button-text" rel="ajax:modal" class="connect").
              Connect
            span#connect-dots

        //- Mute Switch
        div#mute-controls
          div#mute-button(class="switch-toggle switch-ios")
            input(onclick="mexcla_mic_mute();" type="radio" name="mic" id="mic-mute" value="mute")
            label(for="mic-mute") Mute
            //- Unmute should be checked by default
            input(onclick="mexcla_mic_unmute();" type="radio" name="mic" id="mic-unmute" value="unmute")
            label(for="mic-unmute") Unmute
            a

      div#interpretation-options
        //- Language Channel Switch
        div#interpretation-mode(class="switch-toggle switch-android switch-3")
          input(onclick="mexcla_mode_original();" type="radio" name="mode" id="mode-original" value="original")
          label(for="mode-original") Hear original language
          input(onclick="mexcla_mode_hear_interpretation();" type="radio" name="mode" id="mode-hear-interpretation" value="hear-interpretation")
          label(for="mode-hear-interpretation") Hear interpretation
          input(onclick="mexcla_mode_provide_interpretation();" type="radio" name="mode" id="mode-provide-interpretation" value="provide-interpretation")
          label(for="mode-provide-interpretation") Provide interpretation
          a
          
    section#collaboration
      div.tabs
        div#iframe-selectors
          div.tab
            input(onclick="mexcla_toggle_pad();" type="radio" id="pad-iframe-checkbox" name="tab-group-1")
            label(for="pad-iframe-checkbox").
              Notepad
            div(class="content pad")
          div.tab
            input(onclick="mexcla_toggle_calc();" type="radio" id="calc-iframe-checkbox" name="tab-group-1")
            label(for="calc-iframe-checkbox").
              Spreadsheet
            div(class="content calc")
          div.tab
            input(onclick="mexcla_toggle_irc();" type="radio" id="irc-iframe-checkbox" name="tab-group-1")
            label(for="irc-iframe-checkbox").
              IRC Chat
            div(class="content irc")

  //
  aside(id="participant-list" class="sidebar" role="complementary")
    //- Participant List
    div#participant-list
      include participants

  section(id="audio-handling")
    div#audio
      //-
        The audio tag is not seen by the user (unless their browser doesn't support it)
      audio(id="audio-remote" autoplay="autoplay")
        Sorry, you have no audio capabilities! Please use Chrome or Chromium version 25 (or greater).
        
  include footer
  
block scripts
  script(data-main='/js/config', type='text/javascript', src='/js/config.js')
  script(data-main='/js/jssip-0.6.18', type='text/javascript', src='/js/jssip-0.6.18.js')
  script(data-main='/js/boot', type='text/javascript',src='/js/libs/require.js')
