block content
  form(id="user-name-form" action="/username" method="post")
    fieldset
      label(for="username") Please enter your name.
        input(id="user-name" type="text" value='' name="username")
        input(type="submit" value="Enter", data-transition="fade")
