block content
  form(id="user-name-form" action="/username" method="post")
    fieldset
      label(for="username") Please Enter Your Name
        input(id="user-name", type="text", value='', name="username", placeholder="Your name")
        input(type="submit", value="Enter", data-transition="fade")


