// -----------------------------------------------------------------------------
// This file contains styles that are specific to the room page.
// -----------------------------------------------------------------------------

.main-content.room {
    @extend .col-xs-12;
    @extend .col-md-8;

    header {
        @extend .row;

        margin-bottom: 1em;

        .conference-id,
        #room-info {
            @extend .col-sm-6;
        }

        #room-info {
            @extend .input-group;

            label,
            .copy-link {
                @extend .input-group-addon;
                @extend .bg-info;
                border-color: $brand-info;
            }
            #room-link {
                border-color: $brand-info;
            }
        }
    }

    #connect-button {
        @extend .center-block;
    }

    #collaboration {
        margin-top: 1em;
        margin-bottom: 5em;

    }

    #mute-controls,
    #interpretation-options {
        display: none;
    }

}
