// CONTAINERS


// base

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  @include outer-container;
}


hr {
	border: 0;
	height: 1px;
	background: $hr-color;
	margin: 2rem 0 4rem 0;
}

body>header,
main,
footer {
  @include clearfix;
  padding: 1em;

  @include media($xlarge) {
    padding: .5em 0;
  }
}
footer {
  padding: 1em;
}

body>header,
aside, main 
#collaboration,
footer {
  @include span-columns(16);
}

// Desktop or larger
@include media($desktop) {
  main {
    @include span-columns(11);

  }

  aside {
    @include span-columns(5);
    @include omega;
  }
}

// Landing Page
.index main {
  @include span-columns(16);
  
  #join-room,
  #create-room {
    //@include span-columns(8);

    @include media($desktop) {
      @include span-columns(8);
      min-height: 220px;
    }

  }
  #create-room {
    @include omega;
    margin-top: .5em;
    
     @include media($desktop) {
      margin-top: 0;
    }

  }
}

// Conference Room Page
.room main {}

footer {
  background: $gray6;
}

