
/*********************
SIDEBARS & ASIDES
*********************/

.sidebar .button,
.sidebar input[type='submit'] {
    background: $gray3;
    background: rgba(0,0,0,.6);
    font-weight: 700;
    @include font-size(16);
    &:hover {
        background: $white;
        color: $text-color;
    }
}

aside {
  &>div {
    padding: 1em;
    background: $gray9;
  }
  &>div:not(:first-child) {
    margin-top: .5em;
  }
  label {
    display: inline-block;
    padding: .25em;
    background: $gray5;
    color: $white;
    margin-right: .5em;
  }
}


