.tabs {

  border-bottom: 1px solid $hr-color;

  .tab {

    display: inline-block;
    padding: .5em;
    background-color: $gray5;
    text-transform: uppercase;
    color: $white;

    &.active {
      color: $white;
      background-color: $blue;
    }

    label {
      font-size: .8rem;
    }

    [type=radio] {
      display: none;
    }

  }

}

#collaboration {

  .tabs {}

  .collaboration-link {
    margin: .25em .5em .25em;
  }

  .collaboration-link,
  .collaboration-link a {
    font-size: .85rem;
  }

  #iframe-content {
    background-color: $gray9;

    min-height: 400px;
  }

  &.filled #iframe-content {
    background-color: $white;
  }

  #iframe-content  iframe {
    border: none;
  }

  iframe body {
    margin: 0;
    padding: 0;
  }

}

