// CONTAINERS


// base

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  @include outer-container;
}


hr {
	border: 0;
	height: 1px;
	background-color: $hr-color;
	margin: 2rem 0 4rem 0;
}

body>header,
div#content,
body>footer {
    @include clearfix;
    padding: 1em;
    @include span-columns(16);
}

// Header
header>nav#utility-nav>div {
  @include span-columns(8);
}

// 2-column Layout (Desktop +)
@include media($desktop) {
  
  // Header
  header>nav#utility-nav>div {
    @include span-columns(16);
  }
  
  // Index View
  #content>main.index>div {
    @include span-columns(8);
    min-height: 200px;
  }
  
  // Room View
  #content>main.room {
    @include span-columns(11);
    
    // Room Content Header
    header#content-header {
      @include clearfix;
      
      h2 {
        @include span-columns(6 of 11);
        text-align: left;
      }
      #room-info {
        @include span-columns(5 of 11); 
      }
      
    }
        
  }
  #content>aside {
    @include span-columns(5);
    @include omega;
  }
  
}

// Main Content Padding (1200px +)
@include media($xlargescreen) {
  
   div#content {
    padding: 1em 0;
  }

}

// Conference Room Page
.room main {}

footer {
  background-color: $gray6;
}

