// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


.btn-disabled {
  @include button-variant($white, $brand-disabled, $brand-disabled);
}

.btn {
    border-width: 2px;
    &:hover,
    &:focus {
        border-width: 2px;
    }
}

.btn-default {
    background-color: $brand-default;
}

input[type="submit"],
button {
    @extend .btn;
    a {
        color: $white;
    }
}

input[disabled="disabled"] {
    display: none;
}

#connect-button {
    transition: all 1s fade-in;
    @extend .btn-lg;
    @extend .btn-success;

    .icon {
        @extend %fa;
        @extend %fa-phone;
    }

    &.connecting {
        @extend .btn-warning;
        .icon {
            @extend %fa-spinner;
            @extend .fa-pulse;
        }
    }

    &.connected {
        @extend .btn-danger;
        .icon {
            @extend %fa-sign-out;
        }
    }
}

.btn-group {
    .btn {}
}

#mute-controls {
    .btn {
        @extend .btn-danger;
    }
}

.copy-link {
    cursor: pointer;
}
.submit-chat {
    @extend .btn-primary;
}

.cursor-grab {
    cursor: grab;
}
.cursor-grabbling {
    cursor: grabbing;
}

button.accordion {
    @include pull-right;
}

button.switch-audio {
    @extend .btn-info;
    @include font-size(1.25);
    border-radius: 10px;

    .icon {
        margin-right: .25em;
        @extend %fa-volume-up;
    }

    &[data-status='off'] {
        .icon {
            @extend .fa-rotate-180;
        }
    }
}
