// -----------------------------------------------------------------------------
// This file contains all styles related to lists.
// -----------------------------------------------------------------------------

#participant-list,
#channel-list,
#chat-list {

    .participant-list,
    .channel-list,
    .chat-list {
        @extend .card;
    }

    h3 {
        @extend .card-header;
    }

    ul {
       @extend .list-group;
       @extend .list-group-flush;
    }

    li {
        @extend .list-group-item;
        @extend .clearfix;
        background-color {
            &:hover,
            &:focus {
                @extend .hover;
            }
        }

        &.current-user {
            font-weight: bold;
            font-style: italic;
        }
    }

    footer {
        margin-top: 1em;
        margin-bottom: 1em;

        button.add-channel {
            @extend .center-block;
        }
    }

    .scroll-list {
        max-height: 200px;
        overflow-x: hidden;
    }

    
    .info,
    .controls {
        display: inline-block;
    }

    .controls {
        @extend .pull-xs-right;
    }

    button.accordion {
        @extend .icon;
        @extend .pull-right;
        @extend %fa-angle-double-up;
        background-color: transparent;
        padding: 0;

        &.collapsed {
            @extend %fa-angle-double-down;
        }
    }
    
}

.username {
    font-weight: bold;
    &:after {
        content: ': ';
    }
}

.messageBody {
    color: $gray-darker;
}