<!DOCTYPE html>
<html lang="en"><!-- Need to modify language based on user input -->
  <head>
    <title>Mexcla Conferencing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/style.css">

    <!-- SCRIPTS -->
    <script type="text/javascript" src="js/libs/jssip-0.6.18.js"></script>
    <script type="text/javascript" src="js/libs/jquery.js"></script>
    <script type="text/javascript" src="js/libs/js.cookie.js"></script>
    <script type="text/javascript" src="js/libs/underscore.js"></script>
    <script type="text/javascript" src="js/libs/backbone.js"></script>
    <script type="text/javascript" src="js/libs/socket.io-1.4.5.js"></script>
    <script type="text/javascript" src="js/libs/tether/tether.min.js"></script>
    <script type="text/javascript" src="js/libs/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/libs/clipboard/dist/clipboard.min.js"></script>

  </head>
  <body>
    <!-- HEADER  -->
     <header id="header">
      <nav id="utility-nav" class="navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsing-utility-nav">
          &#9776;
        </button>
        <div class="collapse" id="collapsing-utility-nav">
          <h3 id="tagline"><a href="/">Mexcla: title<!-- Tagline --></a></h3>
          <ul id="language-links" class="nav">
            <li class="nav-item"><div id="welcome-text"><!-- template #welcome-text-template --></div></li>
            <li class="nav-item"><a id="es-switch-link" onclick="switch_language('es')" class="nav-link english" href="#">English</a></li>
            <li class="nav-item"><a id="en-switch-link" onclick="switch_language('en')" class="nav-link espanol" href="#">Espa&ntilde;ol</a></li>
          </ul>
        </div>
      </nav>
     </header>
     <!--CONTENT  -->

      <div id="content"></div>

    <!-- FOOTER -->
    <footer id="footer" role="contentinfo">
      <div class="colophon">
        <ul>
          <li class="license"><a href="http://www.gnu.org/licenses/gpl-3.0-standalone.html" target="_blank"><i class="icon"></i>Mexcla</a></li>
          <li class="source"><a href="https://github.com/glocalcoop/mexcla.git" target="_blank"><i class="icon"></i> Source</a></li>
          <li class="terms"></li>
        </ul>
      </div>
    </footer>
    
    <!--TEMPLATES  -->

    <!--INDEX -->
    <script type="text/template" id="index-template">
      <main class="main-content index" role="main">
          <section class="welcome-section">
            <h1><%= welcome %></h1>
            <h2 class="lead"><%= subhead %></h2>
          </section>
          <section class="go-to-rooms-section">
            <div id="join-room">
              <div class="card">
                <h3><%= join %></h3>
                <fieldset>
                  <label for="roomnumber"><%= enter %></label>
                  <input id="room-number" type ="text" value="", name="roomnumber" placeholder="Room number">
                  <input id="room-number-button" type="submit" value="Go" data-transition="fade">
                </fieldset>
              </div>
            </div>
            <div id="create-room">
              <div class="card">
                <h3><%= create %></h3>
                <fieldset>
                  <input id="create-new-room-button" type="submit" value="<%= create %>" data-transition="fade">
                </fieldset>
              </div>
            </div>
            
          </section>
      </main>
    </script>

    <!-- HEADER WELCOME TEXT-->
    <script type="text/template" id="welcome-text-template">
      <span class="greeting"><%= greetings %></span><span id="<%= app.user.id %>" class="user-name"><%= username %></span>
    </script>


    <!-- ROOM -->
    <script type="text/template" id="room-template">
    <main class="main-content room" role="main">

      <header id="content-header">
        <h2 id="conference-<%= roomnum %>" class="conference-id">
          <%= conference %>
          <span class="pstn-instructions-conference-number">
            <%= roomnum %>
          </span>
        </h2>

        <div id="userinfo-modal" style="display:none">
          <a href="/userinfo" rel="ajax:modal"></a>
        </div>

      </header>

      <section id="options">

        <div id="call-options">
          <div id="connect-icon-and-button">
            <!-- TODO: Button should toggle to Disconnect once connected. Promises, promises... -->
            <button class="button" onclick="mexcla_toggle_call_status(<%= roomnum %>); return false;" data-toggle="tooltip" title="<%= connect %>" id="connect-button">
              <span class="connect" rel="ajax:modal" id="connect-button-text"><%= connect %></span>
              <span id="connect-dots"></span>
            </button>
          </div>

          <div id="mute-controls">
            <div class="btn-group" id="mute-button" data-toggle="buttons">

              <label for="mic-mute" class="btn active">
                <input type="radio" value="mute" id="mic-mute" name="mic" onclick="mexcla_mic_mute();">
                <%= mute %>
              </label>

              <label for="mic-unmute" class="btn">
                <input type="radio" value="unmute" id="mic-unmute" name="mic" onclick="mexcla_mic_unmute();">
                <%= unmute %>
              </label>

            </div>
          </div>
        </div>

        <div id="interpretation-options">
          <div class="btn-group" id="interpretation-mode" data-toggle="buttons">
            <label for="mode-original" class="btn active">
              <input type="radio" value="original" id="mode-original" name="mode" onclick="mexcla_mode_original();">
              <%= original %>
            </label>
            <label for="mode-hear-interpretation" class="btn">
              <input type="radio" value="hear-interpretation" id="mode-hear-interpretation" name="mode" onclick="mexcla_mode_hear_interpretation();">
              <%= interpretation %></label>
            <label for="mode-provide-interpretation" class="btn">
              <input type="radio" value="provide-interpretation" id="mode-provide-interpretation" name="mode" onclick="mexcla_mode_provide_interpretation();">
              <%= provide %>
            </label>
          </div>
        </div>
      </section>

      <section id="audio-handling">
        <div id="audio">
          <audio autoplay="autoplay" id="audio-remote">
            Sorry, you have no audio capabilities! Please use Chrome or Chromium version 25 (or greater).
          </audio>
        </div>
      </section>

      <section id="collaboration">

        <!-- Nav tabs -->
        <ul class="nav" role="tablist">
          <li class="nav-item">
            <a class="nav-link notepad" data-toggle="tab" href="#pad-frame" aria-controls="<%= notepad %>" role="tab"><i class="icon"></i> <%= notepad %></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link spreadsheet" data-toggle="tab" href="#spreadsheet-frame" aria-controls="<%= spreadsheet %>" role="tab"> <%= spreadsheet %></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link chat" data-toggle="tab" href="#chat-frame" aria-controls="<%= chat %>" role="tab"><i class="icon"></i> <%= chat %></a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane" id="pad-frame" data-src="https://pad.riseup.net/p/<%= roomnum %>?showChat=false&alwaysShowChat=false&chatAndUsers=false" role="tabpanel">

            <!-- Copiable direct link -->
            <div class="clipboard-group">
              <input type="text" value="https://pad.riseup.net/p/<%= roomnum %>" id="pad-link">
              <span for="pad-link" class="copy-link" data-clipboard-target="#pad-link" data-toggle="tooltip" title="<%= click_copy %>"><i class="icon"></i></span>
            </div>
            
            <iframe id="pad-iframe" src=""></iframe>
          </div>
          <!-- <div class="tab-pane" id="spreadsheet-frame" data-src="https://calc.mayfirst.org/<%= roomnum %>" role="tabpanel">
            <iframe src=""></iframe>
          </div> -->
          <div class="tab-pane" id="chat-frame" data-src="https://irc.koumbit.net/?channels=#<%= roomnum %>&nick=guest" role="tabpanel">
            <!-- Copiable direct link -->
            <div class="clipboard-group">
              <input type="text" value="https://irc.koumbit.net/?channels=#<%= roomnum %>" id="chat-link">
              <span for="chat-link" class="copy-link" data-clipboard-target="#chat-link" data-toggle="tooltip" title="<%= click_copy %>"><i class="icon"></i></span>
            </div>
            <iframe id="chat-iframe" src=""></iframe>
          </div>
        </div>

      </section>

    </main>
    </script>


    <!-- ROOM SIDEBAR  -->
    <script type="text/template" id="room-sidebar-template">
      <aside class="sidebar" id="room-info" role="complementary">

      <div class="clipboard-group">
          <label for="room-link"><%= link %></label>
          <!-- TODO: Add real URL -->
          <input type="text" value="http://url.org/room/<%= roomnum %>" id="room-link">
          <span for="room-link" class="copy-link" data-clipboard-target="#room-link" data-toggle="tooltip" title="<%= click_copy %>"><i class="icon"></i></span>
        </div>
        
      </aside>
      <!-- Participants  -->
      <aside class="sidebar" role="complementary" id="participant-list">
        <div class="participant-list">
          <h3><%= participants %></h3>
          <div class="scroll-list">
            <ul id="participants">
            <!-- template #participant-row-template -->
            </ul>
          </div>
        </div>
      </aside>

      <!-- Channels  -->
      <aside class="sidebar" role="complementary" id="channel-list">
        <div class="channel-list">
          <h3><%= channels %></h3>
          <div class="scroll-list">
            <ul id="channels">
            <!-- template #channel-row-template -->
            <!-- TODO: Add channel row view -->
              <li id="channel-id">
                Channel Name
                <div class="controls">
                  <button class="interpret" data-toggle="tooltip" title="Become interpreter"><%= interpret %></button>
                  <!-- Join appears when interpreter exists and user is not already in channel -->
                  <button class="join" data-toggle="tooltip" title="Join Channel"><%= join_channel %></button>
                  <!-- Leave appears when user is in channel -->
                  <button class="leave" data-toggle="tooltip" title="Leave Channel"><%= leave_channel %></button>
                </div>
              </li>

              <li id="channel-id">
                Channel Name
                <div class="controls">
                  <button class="interpret" data-toggle="tooltip" title="Become interpreter"><%= interpret %></button>
                  <!-- Join appears when interpreter exists and user is not already in channel -->
                  <button class="join" data-toggle="tooltip" title="Join Channel"><%= join_channel %></button>
                  <!-- Leave appears when user is in channel -->
                  <button class="leave" data-toggle="tooltip" title="Leave Channel"><%= leave_channel %></button>
                </div>
              </li>

            </ul>
            <footer class="widget-footer">
              <button class="add-channel" id="add-channel-button"><a href="" title="Add a channel"><i class="icon"></i>Add a Channel</a></button>              
            </footer>

          </div>
        </div>
      </aside>

    </script>

    <!-- PARTICIPANTS ROW  -->
    <script type="text/template" id="participant-row-template">
      <li id="<%= _id %>">
        <div class="info">
          <span class="language" data-toggle="tooltip" title="de">de</span>
          <span class="moderator" data-toggle="tooltip" title="Moderator"><i class="icon"></i></span>
          <span class="queued" data-toggle="tooltip" title="Queued">1</span>
        </div>
        <%= username %>
        <div class="controls">
          <button class="mute" data-toggle="tooltip" title="Mute"><a href="" title="Mute"><i class="icon"></i></a></button>
          <button class="muted" data-toggle="tooltip" title="Unmute"><a href="" title="Unmute"><i class="icon"></i></a></button>
          <button class="raise-hand" data-toggle="tooltip" title="Raise Hand"><a href="" title="Raise Hand"><i class="icon"></i></a></button>
          <button class="lower-hand" data-toggle="tooltip" title="Lower Hand"><a href="" title="Lower Hand"><i class="icon"></i></a></button>
        </div>
      </li>
    </script>


    <!-- LANGUAGE CHANNEL ROW  -->
    <script type="text/template" id="channel-row-template">
      <!-- TODO: Add channel name identifier to each row  -->
      <li id="channel-id">
        Channel Name
        <div class="controls">
          <button class="label interpret" data-toggle="tooltip" title="Become interpreter"><%= interpret %></button>
          <!-- Join appears when interpreter exists and user is not already in channel -->
          <button class="label join" data-toggle="tooltip" title="Join Channel"><%= join_channel %></button>
          <!-- Leave appears when user is in channel -->
          <button class="label leave" data-toggle="tooltip" title="Leave Channel"><%= leave_channel %></button>
        </div>
      </li>
    </script>


    <!-- REGISTER MODAL -->
    <div id="register-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="register-modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="card" role="document">
            <header class="modal-header"><h2>Register</h2></header>
            <fieldset>
              <label for="username">Enter Your Name</label>
              <input id="user-name" type="text" value="" name="username" placeholder="Enter Your Name" />
              <select name="lang" id="lang-select">
                <option value="">Select Language</option>
                <option value="en">English</option>
                <option value="es">Espa&ntilde;ol</option>
              </select>
            </fieldset>
            <footer class="modal-footer">
              <input type="submit" id="register-submit-button" data-dismiss="modal" value="Enter" />
            </footer>
          </div>
        </div>
      </div>
    </div>

    <!-- ADD CHANNEL MODAL -->
    <div id="channel-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="chanel-modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="card" role="document">
            <header class="modal-header"><h2>Add a Channel</h2></header>
            <fieldset>
              <select name="lang" id="channel-lang-select">
                <option value="">Select Language</option>
                <option value="en">English</option>
                <option value="es">Espa&ntilde;ol</option>
              </select>
              <select name="translator" id="channel-translator-options">
                <option value="">Select a translator</option>
                <option value="none">none</option>
              </select>
            </fieldset>
            <footer class="modal-footer">
              <input type="submit" id="channel-submit-button" data-dismiss="modal" value="Enter" />
            </footer>
          </div>
        </div>
      </div>
    </div>
        
    <!-- LOAD APP -->
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
