<script type="text/template" id="index-template">
<main class="main-content index" role="main">
  <div id="join-room">
    <h3><%= join %></h3>
    <form id="join-room-form" action="/gotoroom" method="post">
      <fieldset>
        <label for="roomnumber"><%= enter %></label>
          <input id="room-number" type ="text" value="", name="roomnumber" placeholder="Room number">
          <input type="submit" value="Go" data-transition="fade">
      </fieldset>
    </form>
  </div>
  <div id="create-room">
    <form id="create-room-form" action="/gotoroom" method="post">
      <fieldset>
        <input type="submit" value="<%= create %>" data-transition="fade">
      </fieldset>
    </form>
  </div>
</main>
</script>
